//
// Copyright 2019 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/feature-targeting/functions";
@import "@material/feature-targeting/mixins";
@import "@material/rtl/mixins";
@import "@material/shape/mixins";
@import "@material/theme/mixins";
@import "@material/theme/variables"; // for mdc-theme-prop-value
@import "@material/typography/mixins";
@import "./variables";

@mixin mdc-datatable-core-styles($query: mdc-feature-all()) {
  $feat-structure: mdc-feature-create-target($query, structure);
  $feat-typography: mdc-feature-create-target($query, typography);

  // postcss-bem-linter: define datatable

  .mdc-datatable__content {
    @include mdc-typography(body2, $query: $query);
  }

  .mdc-datatable {
    @include mdc-datatable-fill-color($mdc-datatable-fill-color, $query: $query);
    @include mdc-datatable-header-row-height($mdc-datatable-header-row-height, $query: $query);
    @include mdc-datatable-row-height($mdc-datatable-row-height, $query: $query);
    @include mdc-datatable-selected-row-fill-color($mdc-datatable-selected-row-fill-color, $query: $query);

    border-collapse: collapse;
  }

  .mdc-datatable__header-row {
    @include mdc-feature-targets($feat-structure) {
      font-weight: 500;
    }

    @include mdc-typography(body2, $query: $query);
  }

  .mdc-datatable__cell {
    padding: 10px 6px;
  }

  .mdc-datatable__row {
    border: 1px solid #DADCE0;
  }

  .mdc-checkbox {
    display: none;
  }
}

@mixin mdc-datatable-fill-color($color, $query: mdc-feature-all()) {
  $feat-color: mdc-feature-create-target($query, color);

  @include mdc-feature-targets($feat-color) {
    @include mdc-theme-prop("background-color", surface);
  }
}

@mixin mdc-datatable-header-row-height($color, $query: mdc-feature-all()) {
  $feat-structure: mdc-feature-create-target($query, structure);

  .mdc-datatable__header-row {
    @include mdc-feature-targets($feat-structure) {
      height: 40px;
    }
  }
}

@mixin mdc-datatable-row-height($color, $query: mdc-feature-all()) {
  $feat-structure: mdc-feature-create-target($query, structure);

  .mdc-datatable__row {
    @include mdc-feature-targets($feat-structure) {
      height: 32px;
    }
  }
}

@mixin mdc-datatable-selected-row-fill-color($color, $query: mdc-feature-all()) {
  $feat-color: mdc-feature-create-target($query, color);

  .mdc-datatable__row--selected {
    @include mdc-feature-targets($feat-color) {
      @include mdc-theme-prop("background-color", $color);
    }
  }
}
